[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-ninja = "*"
djangorestframework = "*"
drf-spectacular = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
fastapi = "*"
django-debug-toolbar = "*"
httpx = "*"
uvicorn = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.12"
